form.bookForm {
  padding: 20px;

  input[type='text'] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin: 6px 0;
    background: #3C1F3C;
    color: #FFF;
    border: 0;
  }

  input[type='submit'] {
    margin: 10px auto;
    background: #EEE;
    border: 0;
    padding: 6px 20px;
    display: block;
  }
}